<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ha Yeon Sung - Resume</title>
    <link rel="stylesheet" href="../static/css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Merriweather:300,400,700|Source+Sans+Pro:400,400i" rel="stylesheet">
<body>
<div class="page">
    <div class="section row">
        <h1 class="col"><span style="font-weight:700">HA YEON</span> SUNG</h1>
        <div class="contact-info col-right">
            <div><a href="mailto:hayeona92@gmail.com">hayeona92@gmail.com</a></div>
            <p><img src="../static/img/github.svg" width="15" height="15"></i><a href="https://github.com/S-hayeon" target="_blank">S-hayeon</a></p>
            <p><img src="../static/img/blog.svg" width="15" height="15"></i><a href="https://hayeona.tistory.com/" target="_blank">details/blog</a></p>
        </div>
    </div>
    <div class="section row">
        <h2 class="col">Interests</h2>
        <div class="section-text col-right"><span class="key">Backend</span><span class="key">DevOps</span><span class="key">Kubernetes</span><span class="key">Cloud computing</span></div>
    </div>
    <div class="section row">
        <h2 class="col">Skills</h2>
        <div class="section-text col-right row">
            <ul class="skills" style="width:25%">
                <li>Python, Go, Java</li>
                <li>operator-sdk</li>
            </ul>
            <ul class="skills" style="width:35%">
                <li>Springboot, Flask, Django</li>
                <li>AWS</li>
            </ul>
            <ul class="skills">
                <li>Kubernetes</li>
                <li>Istio, Jaeger, Kiali</li>
                <li>Tekton, ArgoCD</li>
            </ul>
        </div>
    </div>
    <div class="section row">
        <h2 class="col">Experience</h2>
        <div class="section-text col-right">
            <div class="row">
                <div class="col">
                    <h3>SynergyAI</h3>
                </div>
            </div>
            <div class="row subsection">
                <div class="emph col">Backend Developer / DevOps Enginner</div>
                <div class="col-right light">January 2023 - Present</div>
            </div>
            <ul class="desc">
                <li>transform to k8s and maintain and operate k8s Cluster and its modules</li>
                <li>Designed and implemented a scalable Microservices Architecture (MSA)</li>
                <li>Orchestrated the integration of two existing services and introduced two new services culminating in the launch of a unified super app</li>
                <li>details can be found <a href="https://hayeona.tistory.com/category/projects%26architecture",target="_blank">here</a></li>
                <li>develop backend</li>
            </ul>
        </div>
        <div class="section-text col-right">
            <div class="row">
                <div class="col">
                    <h3>Tmax-Cloud</h3>
                </div>
            </div>
            <div class="row subsection">
                <div class="emph col">Researcher</div>
                <div class="col-right light">August 2021 - December 2022</div>
            </div>
            <ul class="desc">
                <li>Maintainer for <a href="https://github.com/tmax-cloud/cicd-operator" target="_blank">CICD-operator</a>, Kubernetes-native CI/CD platform using Tekton as a backend</li>
                <li>Operate and troubleshoot Istio,Jaeger,Kiali,Tekton,gitlab</li>
                <li>Designed initial architecture for <b>DB</b> as a git</li>
                <li>Designed and developed service for extracting AST from SourceCode and saving it into RDBS</li>
            </ul>
        </div>
        <div class="section-text col-right">
            <div class="row">
                <div class="col">
                    <h3>DataBank</h3>
                </div>
            </div>
            <div class="row subsection">
                <div class="emph col">Product Owner</div>
                <div class="col-right light">April 2020 - June 2020</div>
                <br></br>
                <div class="emph col">Backend Developer</div>
                <div class="col-right light">March 2020 - Apirl 2020</div>
            </div>
            <ul class="desc">
                <li>Created a comprehensive business/product load map <a href="https://www.testglider.com/en", target="_blank">TestGilder</a></li>
                <li>maintained backlog</li>
                <li>Managed services to meet market demands</li>
                <li>Secured fundraising from TIPS</li>
                <li>responsible for day-to-day operations</li>
            </ul>
        </div>
    </div>
    <div class="section row">
        <h2 class="col">Education</h2>
        <div class="section-text col-right">
            <h3><span class="emph">Bachelor of Engineering</span> in Information System</h3>
            <div>Hanyang Univ.</div>
            <div class="row">
                <div class="col light">Seoul, South Korea</div>
                <div class="col-right light	">March 2018 - July 2020 </div>
            </div>
        </div>
        <div class="section-text col-right">
            <h3><span class="emph">Economics</span></h3>
            <div>Soongsil Univ.</div>
            <div class="row">
                <div class="col light">Seoul, South Korea</div>
                <div class="col-right light	">March 2012 - July 2017 </div>
            </div>
        </div>
    </div>
    <div class="section row">
        <h2 class="col">side-projects</h2>
        <div class="section-text col-right">
        </div>  <div class="section-text col-right">
        <div class="row">
            <div class="col">
                <h3>executable Program for system trading on windows w/ auth server   <a href="https://hayeona.tistory.com/4", target="_blank">details</a></h3>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <h3>ETL Project   <a href="https://hayeona.tistory.com/3", target="_blank">details</a></h3>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <h3>Streaming Viewbot system   <a href="https://hayeona.tistory.com/5", target="_blank">details</a></h3>
            </div>
        </div>
        <div class="row subsection">
            <div class="emph col"></div>
        </div>
    </div>
    </div>
    <div class="section row">
        <h2 class="col">miscellaneous</h2>
        <div class="section-text col-right">
        </div>  <div class="section-text col-right">
        <div class="row">
            <div class="col">
                <h3>Co-founder of (주)에이치유비에스</h3>
            </div>
        </div>
        <div class="row subsection">
            <div class="emph col">COO</div>
            <div class="col-right light">2014 - 2018</div>
        </div>
        <div class="desc">Private tutoring service specializing in academic English</div>
        <div class="desc">Published four books and produced lectures airing on EBS<a href="https://blog.naver.com/qnqnvk1/220936765568",target="_blank">here1</a><a href="https://github.com/S-hayeon/archive/assets/25574165/45e1870e-5132-40cc-a854-f965d9cd7f74",target="_blank">here2</a></div>
        <div class="desc">Successfully collaborated with 산타토익 (Riiid) and 스터디서치</div>
        <div class="desc">Expanded business operations to foreign markets, including China and Singapore</div>
    </div>
    </div>
</div>
</body>
</html>
