<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ha Yeon Sung - Resume</title>
    <link rel="stylesheet" href="../static/css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Merriweather:300,400,700|Source+Sans+Pro:400,400i" rel="stylesheet">
<body>
<div class="page">
    <div class="section row">
        <h1 class="col"><span style="font-weight:700">HA YEON</span> SUNG</h1>
        <div class="contact-info col-right">
            <div><a href="mailto:hayeona92@gmail.com">hayeona92@gmail.com</a></div>
            <p><img src="../static/img/github.svg" width="15" height="15"></i><a href="https://github.com/S-hayeon" target="_blank">S-hayeon</a></p>
            <p><a href="https://cv.hayeona92.link/" target="_blank">영문 Ver.</a></p>

        </div>
    </div>
    <div class="section row">
        <h2 class="col">Interests</h2>
        <div class="section-text col-right"><span class="key">Backend</span><span class="key">DevOps</span><span class="key">Kubernetes</span><span class="key">Cloud computing</span></div>
    </div>
    <div class="section row">
        <h2 class="col">Skills</h2>
        <div class="section-text col-right row">
            <ul class="skills" style="width:25%">
                <li>Python, Go, Java</li>
                <li>operator-sdk</li>
            </ul>
            <ul class="skills" style="width:35%">
                <li>Springboot, Flask, Django</li>
                <li>AWS</li>
            </ul>
            <ul class="skills">
                <li>Kubernetes</li>
                <li>Istio, Jaeger, Kiali</li>
                <li>Tekton, ArgoCD</li>
            </ul>
        </div>
    </div>
    <div class="section row">
        <h2 class="col">Experience</h2>
        <div class="section-text col-right">
            <div class="row">
                <div class="col">
                    <h3>SynergyAI</h3>
                </div>
            </div>
            <div class="row subsection">
                <div class="emph col">Dev. team lead</div>
                <div class="col-right light">January 2023 - Present</div>
                <br>
                <div class="emph col">Backend Developer / DevOps Enginner</div>
            </div>
            <ul class="desc">
                <li>k8s 도입 및 서비스 이전</li>
                <li>기존 서비스 및 신규 서비스에 대한 통합한 슈퍼앱 (MSA 구조) 설계 및 구현</li>
                <li>서버 개발</li>
                <li>k8s 클러스터 운영 / 관리</li>
            </ul>
        </div>
        <div class="section-text col-right">
            <div class="row">
                <div class="col">
                    <h3>Tmax-Cloud</h3>
                </div>
            </div>
            <div class="row subsection">
                <div class="emph col">Researcher</div>
                <div class="col-right light">August 2021 - December 2022</div>
            </div>
            <ul class="desc">
                <li>k8s기반 CICD 오퍼레이터 개발 <a href="https://github.com/tmax-cloud/cicd-operator" target="_blank">CICD-operator</a></li>
                <li>Istio,Jaeger,Kiali,Tekton,Gitlab에 대한 모듈 관리 및 운영</li>
                <li><b>DB</b> as a git을 위한 시스템 설계</li>
                <li>소스코드로부터 AST 추출 및 DB 저장 방식 설계 및 서비스 구현</li>
            </ul>
        </div>
        <div class="section-text col-right">
            <div class="row">
                <div class="col">
                    <h3>DataBank</h3>
                </div>
            </div>
            <div class="row subsection">
                <div class="emph col">Product Owner</div>
                <div class="col-right light">April 2020 - June 2020</div>
                <br></br>
                <div class="emph col">Backend Developer</div>
                <div class="col-right light">March 2020 - Apirl 2020</div>
            </div>
            <ul class="desc">
                <li><a href="https://www.testglider.com/en" target="_blank">TestGilder</a>에 대한 제품 로드맵 및 서비스 기획</li>
                <li>백로그 관리 및 일정 산출</li>
                <li>인하우스 관리</li>
                <li>투자 전략 및 의사결정 참여</li>
                <li>팁스 투자 유치</li>


            </ul>
        </div>
    </div>
    <div class="section row">
        <h2 class="col">Education</h2>
        <div class="section-text col-right">
            <h3>정보시스템학</h3>
            <div>한양대학교</div>
            <div class="row">
                <div class="col light">Seoul, South Korea</div>
                <div class="col-right light	">March 2018 - July 2020 </div>
            </div>
        </div>
        <div class="section-text col-right">
            <h3>경제학</h3>
            <div>숭실대학교</div>
            <div class="row">
                <div class="col light">Seoul, South Korea</div>
                <div class="col-right light	">March 2012 - July 2017 </div>
            </div>
        </div>
    </div>
    <div class="section row">
        <h2 class="col">side-projects</h2>
        <div class="section-text col-right">
        </div>  <div class="section-text col-right">
        <div class="row">
            <div class="col">
                <h3>executable Program for system trading on windows w/ auth server   <a href="https://hayeona.tistory.com/4", target="_blank">details</a></h3>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <h3>ETL Project   <a href="https://hayeona.tistory.com/3", target="_blank">details</a></h3>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <h3>Streaming Viewbot system   <a href="https://hayeona.tistory.com/5", target="_blank">details</a></h3>
            </div>
        </div>
        <div class="row subsection">
            <div class="emph col"></div>
        </div>
    </div>
    </div>
    <div class="section row">
        <h2 class="col">miscellaneous</h2>
        <div class="section-text col-right">
        </div>  <div class="section-text col-right">
        <div class="row">
            <div class="col">
                <h3>Co-founder of (주)에이치유비에스</h3>
            </div>
        </div>
        <div class="row subsection">
            <div class="emph col">COO</div>
            <div class="col-right light">2014 - 2018</div>
        </div>
        <div class="desc">국내 영어특기자 및 해외 대학/원 입시 컨설팅 및 강의 제공</div>
        <div class="desc">서적 출판 4권 및 동영상 강의 제작 /기획 (EBS 송출)<a href="https://blog.naver.com/qnqnvk1/220936765568",target="_blank">here1</a><a href="https://github.com/S-hayeon/archive/assets/25574165/45e1870e-5132-40cc-a854-f965d9cd7f74",target="_blank">here2</a></div>
        <div class="desc">산타토익(Riiid) 및 스터디 서치 제휴 사업 및 컨텐츠 제공</div>
        <div class="desc">해외 시장 사업 개척 (중국, 싱가폴)</div>
    </div>
    </div>
</div>
</body>
</html>
